:root {
  --hotel-navbar-primary: #0d6efd;
  --hotel-navbar-secondary: #fff;
  --hotel-search-box: #fff;
  --hotel-bg-light-gray: rgb(244, 244, 244);
}

/* .container {
  padding: 0 1.25rem!important;
} */

.bg-light-gray {
  background-color: var(--hotel-bg-light-gray);
}

.navbar-top {
  width: 100%;
  height: 5rem;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 10;
}

.navbar-primary {
  background-color: var(--hotel-navbar-primary);
}

.navbar-secondary {
  background-color: var(--hotel-navbar-secondary);
}

section {
  padding: 1rem 0;
}

.main-content {
  padding-top: 5rem;
}

.search-section {
  background-color: var(--hotel-navbar-primary);
}

.search-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
  background-color: var(--hotel-search-box);
}

.search-box input {
  outline: none;
}

/* Sign In Offcanvas */
.form-control.signin-input {
  background-color: transparent!important;
  border: none!important;
  border-bottom: 1px solid #000!important;
  border-radius: 0!important;
}
.form-control.signin-input:focus {
  box-shadow: none!important;
  border-bottom-color: var(--hotel-navbar-primary)!important;
}

.signin-offcanvas {
  position: relative;
}

.signin-offcanvas:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  z-index: -1;
  background-image: url(../assets/page-images/image1.jpg);
  background-size: 150%;
  background-position: bottom -120px right -150px;
  background-repeat: no-repeat;
}

/* Advanced Search Modal */
.modal-body div.tag-container {
  font-size: 1.25rem;
}

.tag-container span {
  font-weight: normal;
}

/* Index Content */
.carousel-indicators-custom {
  text-align: center;
}

.carousel-indicators-custom button{
  border-radius: 50%;
  border: none;
  outline: none;
  padding: .25rem;
  background-color: rgb(220, 220, 220);
}

.popular-review div.card-img-overlay {
  color: #fff;
  padding: 1rem;
  background: linear-gradient(to bottom, rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.8));
}

.card-img-overlay div.card-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.suggest-review div.review-card {
  width: 100%;
  /* height: 7rem; */
  border-radius: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
  box-shadow: 7px 7px #ffc107;
}

.suggest-review div.card-img-div {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.suggest-review h6.card-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.all-review div.review-card {
  padding: 0!important;
}

.all-review div.review-status {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}

.all-review-select {
  outline: none;
}

.all-review div.card-img-div {
  width: 100%;
  height: 7rem;
  overflow: hidden;
}

.all-review h6.card-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.tag-container a {
  font-weight: normal;
  font-size: 1rem;
}

.tag-container a.badge {
  margin-bottom: .5rem;
}

/* Article Content */
.profile-image {
  width: 2rem;
  border-radius: 50%;
}

.navbar-topic {
  font-size: 20px;
}

.status-container {
  display: flex;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
}

.comment-card {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: fit-content;
  margin-bottom: 1rem;
}

.comment-card img {
  width: 2.5rem;
  border-radius: 50%;
}

.comment-card i.fa-circle {
  font-size: 5px;
}

.relate-review-container {
  /* width: 100%; */
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.relate-review-container div.review-card {
  border: none;
  width: 12rem;
  margin-right: 1rem;
}

/* OTP Form */
.otp-form input{
  width: 15%;
  height: 15%;
  margin: 0 .25rem;
  text-align: center;
}

/* ----- tablet ----- */
@media (min-width: 768px) {
  .comment-card {
    display: grid;
    grid-template-columns: .5fr 4fr;
  }
  /* Index Page */
  .suggest-review div.review-card {
    width: 100%;
    /* height: 5.25rem; */
    border-radius: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
    box-shadow: 7px 7px #ffc107;
  }
  
  .suggest-review div.card-img-div {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  /* Sign In Offcanvas */
  .signin-offcanvas:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: -1;
    background-image: url(../assets/page-images/image1.jpg);
    background-size: 150%;
    background-position: bottom -350px right -300px;
    background-repeat: no-repeat;
  }

  .offcanvas-body {
    padding: 6rem!important;
  }

  .signup-container section {
    padding: 0 6rem!important;
  }
}

/* ----- desktop ----- */
@media (min-width: 992px) {
  .container {
    /* padding: 0 16rem!important; */
  }
}