body {
  background-color: #EBFEF5!important;
}

/* Sign In */
.flex-center {
  justify-content: center;
  align-items: center;
}

.signin-logo-img {
  width: 4rem;
}

/* Admin Page */
.navbar-top {
  width: 100%;
  height: 4rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
}

.navbar-logo-img {
  width: 2rem;
}

.avatar img{
  width: 40px;
  height: 40px;
}

.menu-sidebar {
  max-width: 12rem;
  height: calc(100vh - 4rem);
  position: fixed;
  top: 4rem;
  left: 0; 
  background-color: #2EC193;
  overflow-y: auto;
}

.menu-sidebar li {
  list-style-type: none;
  color: #0f4332;
}

.menu-sidebar li:hover {
  background-color: #2aa57e;
  color: #fff;
  border-radius: .5rem;
}

.menu-sidebar i {
  padding: .5rem 1rem;
}

.menu-sidebar .text-menu {
  width: 7rem;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.bottom-menu-sidebar {
  color: #fff;
  position: fixed;
  padding: .5rem;
  bottom: 0;
  left: 0;
}

.bottom-menu-sidebar:hover {
  cursor: pointer;
  color: #0f4332;
}

.main-container-collapsed {
  padding-top: 4rem;
  padding-left: 5rem;
}

.main-container-expand {
  padding-top: 4rem;
  padding-left: 12rem;
}


.text-green-primary {
  color: #2aa57e!important;
}

@media (max-width: 576px) {
 /* .main-container {
  padding-left: 0;
 } */
}