* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  background-color: #262626;
}

header {
  width: 100%;
  height: 3rem;
  position: fixed;
  top: 0;
  z-index: 1;
  align-items: center;
  display: grid;
  grid-template-columns: 16rem 2fr 1fr;
}

/* inside-header */
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}

.logo i {
  color: rgb(60, 115, 217);
}

.navbar-menu {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0 1rem;
}

.navbar-menu i {
  display: flex;
  align-items: center;
  color: rgb(60, 115, 217);
}

.other-and-profile {
  display: flex;
  justify-content: start;
  align-items: center;
}

.round-button {
  width: 2rem;
  height: 2rem;
  margin: 5px;
  background-color: rgb(231, 231, 231);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vl {
  border-left: 1px solid rgb(211, 211, 211);
  height: 2rem;
  margin: 0 1rem;
}

.div3 {
  width: 7rem;
  height: 2rem;
  /* background-color: rgb(211, 211, 211); */
  margin: 0 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.div3 select {
  width: 100%;
  padding-left: .25rem;
  border: none;
  outline: none;
  background-color: transparent;
}

.div3 i {
  color: rgb(224, 224, 224);
}

.div4 {
  width: 8rem;
  height: 2rem;
  background-color: rgb(211, 211, 211);
  margin: 0 5px;
}

.menu-sidebar {
  height: calc(100vh - 5rem);
  width: 15%;
  background-color: rgb(175, 127, 127);
  padding: 1rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 3rem;
  overflow-y: auto;
}

.content-dashboard {
  height: fit-content;
  background-color: rgb(236, 236, 236);
  padding: 1.25rem;
  padding-left: 17.25rem;
  padding-top: 5rem;
}

.content-dashboard a {
  text-decoration: none;
  color: #000;
}

/* -----menu-sidebar----- */

.menu-sidebar h6 {
  color: rgb(60, 115, 217);
  /* padding: 1rem 0; */
  padding-bottom: 1rem;
}

.menu-sidebar li {
  list-style-type: none;
  padding: .5rem 0;
}

.sub-topic {
  font-size: 12px;
  font-weight: bold;
  color: rgb(107, 107, 107);
  padding: 0 0 1rem 1rem;
}

.sub-topic:hover {
  color: #262626;
  cursor: pointer;
}

.sub-topic i {
  margin-right: .5rem;
  color: rgb(224, 224, 224);
}

.sub-topic:hover i{
  color: rgb(107, 107, 107);
}

.menu-div {
  display: flex;
  flex-direction: column;
  padding: 1rem 0 0 1rem;
  /* background-color: rgb(86, 249, 255); */
}

.menu {
  font-size: 12px;
  font-weight: bold;
  color: rgb(166, 166, 166);
  padding: .5rem 1.25rem;
  text-decoration: none;
}

.menu:hover {
  color: rgb(114, 114, 114);
}

.sub-menu-div {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  /* background-color: antiquewhite; */
}

.sub-menu {
  width: 50%;
  font-size: 12px;
  font-weight: bold;
  color: rgb(166, 166, 166);
  padding: .5rem 3.75rem .5rem 1rem;
  text-decoration: none;
  border-radius: 5px;
}

.sub-menu:hover {
  color: rgb(60, 115, 217);
  background-color: rgb(202, 239, 251);
}

.div-shadow {
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

/*-----content-dashboard-----*/
.head-dashboard {
  display: flex;
  justify-content: space-between;
}

.under-name-dashboard {
  font-size: 12px;
  margin: .5rem 0;
}

.head-dashboard button {
  font-size: 10px;
  border: none;
  background-color: rgb(30, 30, 30);
  color: white;
  padding: 8px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.head-dashboard select {
  border: 1px solid rgb(217, 217, 217);
  outline: none;
  padding: 5px;
  border-radius: 5px;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.note {
  height: 2rem;
  background-color: rgb(200, 238, 255);
  border: 1px solid rgb(167, 201, 255);
  border-radius: 3px;
  margin: 2rem 0;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  color: rgb(11, 69, 161);
}

.note p {
  padding: 0 1rem;
}

.div1 {
  width: calc(25% - 1.25rem);
  height: 8rem;
  border-radius: 5px;
}

.traffic-sources-graph {
  width: calc(60% - .75rem);
  height: 25rem;
}

.income-graph {
  width: calc(40% - 1rem);
  height: 25rem;
}

.div2 {
  width: calc(25% - 1.25rem);
  height: 6rem;
  border-radius: 5px;
}

.target-section-text {
  margin-top: 1.75rem;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.margin-content {
  margin: 1.75rem 0;
}

.float-btn {
  position: fixed;
  right: 1rem;
  bottom: 5rem;
}

.round-float-btn {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: rgb(255, 203, 70);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.round-float-btn:hover {
  background-color: rgb(255, 193, 36);
  cursor: pointer;
}