* { padding: 0; margin: 0; }

html, body {
  height: 100%;
}

.main-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.content {
  width: 100%;
  background-color:antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in-content {
  width: 420px;
  height: 500px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 2rem;
  margin: 0;
}

h1 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #8B7E74;
  font-family: Arial, Helvetica, sans-serif;
}

.sign-in-username-form {
  padding: 0.5rem;
}

.sign-in-password-form {
  padding: 0.5rem;
}

.sign-in-button {
  padding: 0.5rem;
}

.text-label {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

label {
  font-size: 14px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

input {
  /* width: 100%; */
  width: -webkit-fill-available;
  height: 30px;
  margin-top: 2px;
  margin-bottom: 0.5rem;
  padding: 2px;
}

.under-password {
  width: 100%;
  display: flex;
  height: 1.5rem;
}

.checkbox-div {
  width: 50%;
  display: flex;
  align-items: center;
}

.custom-checkbox {
  width: 1rem;
  height: 1rem;
}

.custom-checkbox-label {
  font-weight: lighter;
  margin-left: 0.25rem;
}

.forgot-pw-div {
  width: 50%;
}


.btn-form-sub {
  height: 40px;
  border: none;
  border-radius: 5px;
  text-align: center;
  background-color: #ea4c89;
  color: white;
}

.btn-form-sub:hover {
  height: 40px;
  border: none;
  border-radius: 5px;
  text-align: center;
  background-color: #e31564;
  color: white;
}

input[type="submit"] {
  cursor: pointer;
}

hr.divider {
  width: 100%;
  content: 'Or';
  display: inline-block;
  background: #fff;
}

.all-other-sign-in-div {
  padding: 0.5rem;
  height: fit-content;
}

.other-sign-in-btn {
  width: 100%;
  height: 2rem;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.other-sign-in-btn:hover {
  width: 100%;
  height: 2rem;
  background-color: #e5e5e5;
  border: 1px solid #1873f3;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

p {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

p.a {
  text-align: right;
}

p.b {
  text-align: center;
  margin-top: 0.5rem;
}

.sign-up-content {
  width: 420px;
  height: 600px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 2rem;
  margin: 0;
}

.name-form-row {
  display: flex;
}

.fname-form {
  padding: 0.5rem;
}

.lname-form {
  padding: 0.5rem;
}

.username-form {
  padding: 0.5rem;
}

.email-form {
  padding: 0.5rem;
}

.password-form {
  padding: 0.5rem;
}

.sign-up-button {
  padding: 0.5rem;
}

.suggest-text {
  color: #a1a0c1;
}

.other-sign-up {
  text-align: center;
  padding: 0.5rem;
}

.text-center {
  text-align: center;
}

.all-other-sign-up-div {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-around;
}

.other-sign-up-btn {
  width: 8rem;
  height: 2rem;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.other-sign-up-btn:hover {
  width: 8rem;
  height: 2rem;
  background-color: #e5e5e5;
  border: 1px solid #1873f3;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

img {
  width: 1rem;
  height: 1rem;
}

.other-sign-up-text {
  margin-left: 0.5rem;
}