* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
}

header {
  padding: 1rem 1rem 6rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  color: #335EEA;
}

header ul {
  width: 50rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
}

header li {
  padding: 1.5rem;
}

header a {
  text-decoration: none;
  color: gray;
}

header a:hover {
  color: #335EEA;
}

.primary-button {
  font-size: medium;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #335EEA;
  
}

.primary-button:hover {
  background-color: rgb(0, 83, 208);
  box-shadow: 0 0 1rem rgb(211, 211, 211);
  cursor: pointer;
}

.second-button {
  font-size: medium;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  color: #335EEA;
  background-color: #e2e8f9;
  margin-left: .5rem;
}

.second-button:hover {
  background-color: #e0e7fd;
  box-shadow: 0 0 1rem rgb(211, 211, 211);
  cursor: pointer;
}

.third-button {
  font-size: medium;
  padding: 1rem;
  margin-top: 2rem;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: rgb(49, 195, 159);
}

.third-button:hover {
  background-color: rgb(42, 187, 151);
  box-shadow: 0 0 1rem rgb(211, 211, 211);
  cursor: pointer;
}
/* ---------------------------- */

section {
  padding-bottom: 6rem;
  /* background-color: rgb(231, 215, 0); */
}

.container-lg {
  padding: 0 12rem;
  /* background-color: cadetblue; */
}

.container-lg h1, p {
  padding-bottom: 1rem;
}

p {
  color: gray; 
}

h3 {
  padding-bottom: .5rem;
}

.sub-text {
  font-size: 1.25rem;
  padding-bottom: 2rem;
}

.sub-text2 {
  font-size: 1.25rem;
  padding-bottom: 2rem;
  color: #a9b3d4;
}

.div-50 {
  width: 50%;
  /* background-color: rgb(255, 196, 207); */
}

.sec2-div {
  width: 25rem;
}

.flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.welcome-text {
  font-size: 3rem;
  padding-bottom: 1rem;
}

.pd-1 {
  padding: 1rem;
}

.pd-2 {
  padding: 2rem;
}

.pd-4 {
  padding: 4rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pr-2 {
  padding-right: 2rem;
}

.ml-icon {
  margin-left: .5rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

img {
  width: 100%;
}

.v-center {
  align-items: center;
}

.h-center {
  justify-content: center;
}

.v-end {
  align-items: flex-end;
}

.space-between {
  justify-content: space-between;
}

.div1 {
  width: 7rem;
  height: 3rem;
  background-color: rgb(228, 228, 228);
}

.card-div {
  width: 25rem;
  border-radius: .5rem;
  overflow: hidden;
  background-color: #fff;
}

.card-div:hover {
  box-shadow: 0 2px 2rem rgb(185, 185, 185);
}

input {
  padding: 1rem;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(223, 223, 223);
}

.head-text {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.head-text2 {
  font-size: 2rem;
  padding-bottom: 1rem;
  color: #fff;
}

.sec4-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  color: rgb(49, 195, 159);
}

.sec4-list li {
  list-style-type: none;
  padding: 1rem;
}

.sec5-div i {
  margin-right: 1rem;
}

.text-div {
  width: 45rem;
  text-align: center;
  padding-bottom: 2rem;
}

.round-button {
  padding: 1.25rem;
  display: flex;
  align-items: center;
  color: #fff;
  border: none;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  background-color: #335EEA;
}

.round-button:hover {
  cursor: pointer;
}

.left {
  left: -.5rem;
  bottom: 11rem;
}

.right {
  right: -.5rem;
  bottom: 11rem;
}

.slide-div-container {
  position: relative;
}

.slide-div {
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  background-color: #fff;
}

.slide-div img {
  width: 30rem;
}

.slide-card-text {
  padding: 4rem;
  background-color: #fff;
}

.div2 {
  border-radius: 1rem;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 2px 2rem rgb(0 0 0 / 0.2);
  position: relative;
  z-index: 1;
}

.div2 i {
  padding-right: 1rem;
}

.div3 {
  border-radius: 0 1rem 1rem 0;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 2px 2rem rgb(0 0 0 / 0.2);
  position: relative;
}



.sec8-div button {
  width: 100%;
  padding: 1.5rem;
}

.sec8-div li {
  list-style-type: none;
  padding-bottom: 1rem;
}

.sec8-div i {
  color: rgb(49, 195, 159);
}

.chip {
  font-size: small;
  padding: .5rem 1rem;
  color: #335EEA;
  border-radius: 1rem;
  background-color: #e8edfe;
  margin-bottom: 2rem;
}

.chip2 {
  font-size: small;
  padding: .5rem 1rem;
  color: #a9b3d4;
  border-radius: 1rem;
  background-color: #2e4783;
  margin-bottom: 2rem;
}

.contact-us-btn {
  font-size: medium;
  border: none;
  background-color: #e2e8f9;
  color: rgb(101, 101, 101);
}

.contact-us-btn:hover {
  cursor: pointer;
}

.sec9-div-list {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.sec9-div-list i{
  padding: 1rem;
}

.sec9-div p {
  color: #a9b3d4;
}

.sec9-div h1 {
  color: #fff;
}

.sec9-div i {
  color: rgb(49, 195, 159);
}

footer {
  padding: 6rem 0;
}

footer .container-lg {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
}

footer li {
  list-style-type: none;
  padding-bottom: 1rem;
}

footer i, a{
  color: #a9b3d4;
}

footer h5 {
  padding-bottom: 1rem;
  color: gray;
}

footer h2 {
  padding-bottom: .5rem;
  color: #335EEA;
}

footer a {
  text-decoration: none;
}

.top-dark-blue-bg {
  background: linear-gradient(to bottom, rgb(241, 241, 241) 60%, #1b2a4e 40%);
}

.top-grey-bg {
  background: linear-gradient(to bottom, rgb(247, 247, 247) 90%, rgb(241, 241, 241) 10%);
}

.dark-blue {
  background-color: #1b2a4e;
}

.light-grey {
  background-color: rgb(247, 247, 247);
}

.grey {
  background-color: rgb(241, 241, 241);
}

.custom-toggle {
  width: 2.75rem;
  border-radius: 1rem;
  padding: .25rem;
  margin: 0 1rem;
  background-color: #dee5fb;
  display: inline-block;
}

.round-div {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background-color: #fff;
}

.custom-text-number {
  font-size: 4rem;
}

.slide-img:last-of-type {
  display: none;
}

.slide-card-text:last-of-type {
  display: none;
}