:root {
  --hotale-color-primary: #2ec193;
  --hotale-color-dark-primary: #0f4332;
  --hotale-color-primary-gradient: linear-gradient(to right, var(--hotale-color-dark-primary),var(--hotale-color-primary));
  --hotale-color-background: #ebfef5;
  --hotale-color-text-light: #fff;
}

/* Sign in page */
.flex-center {
  justify-content: center;
  align-items: center;
}

.signin-logo-img {
  width: 4rem;
}

.bg-container {
  background: var(--hotale-color-primary-gradient)!important;
}

/* Admin page */
.navbar-top {
  width: 100%;
  height: 4rem;
  padding: 1rem;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--hotale-color-primary-gradient);
}

.navbar-logo-img {
  width: 2rem;
  transition: all .5s;
}

.navbar-logo-img:hover {
  width: 2.25rem;
  transform: rotate(20deg);
}

.menu-sidebar {
  width: 12rem;
  height: calc(100vh - 4rem);
  overflow-y: auto;
  position: fixed;
  top: 4rem;
  left: 0;
  padding: .5rem;
  background-color: var(--hotale-color-primary);
}

.menu-sidebar h6 {
  color: var(--hotale-color-dark-primary);
  opacity: 0.8;
  margin: 0;
  padding: .5rem;
  border-radius: .5rem;
}

.menu-sidebar h6:hover {
  color: var(--hotale-color-text-light);
  background-color: var(--hotale-color-dark-primary);
}

.sub-menu {
  margin-top: .5rem;
}

.sub-menu ul {
  padding-left: 3rem;
  /* list-style-type: none; */
  color: var(--hotale-color-dark-primary);
}

.sub-menu li {
  opacity: 0.6;
}

.sub-menu li:hover {
  opacity: 1;
}

.avatar img {
  width: 2rem;
}

.form-switch.form-switch-md .form-check-input {
  width: calc(2rem + 0.75rem);
  height: 1.25rem;
  border-radius: 3rem;
  /* background-color: var(--hotale-color-primary); */
}

.main-container {
  height: calc(100vh - 4rem);
  margin-top: 4rem;
  overflow-y: auto;
  /* position: relative; */
  background-color: var(--hotale-color-background);
}

.menu-sidebar-img {
  width: 12rem;
  position: fixed;
  left: 0;
  bottom: 0;
}

section {
  padding: 1rem;
}

.bg-light-gray {
  background-color: #c5dcd5!important;
}

.card-top {
  width: 100%;
  padding: .5rem 1rem;
  color: var(--hotale-color-text-light);
  background: linear-gradient(-45deg, #23a6d5, #23d5ab);
  animation: gradient 15s ease infinite;
  /* background: linear-gradient(to right, var(--hotale-color-dark-primary),var(--hotale-color-primary)); */
  /* background-color: var(--hotale-color-primary); */
}

.card:hover {
  cursor: pointer;
}

.card:hover .card-top {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  /* animation: gradient 15s ease infinite; */
  animation-name: gradient;
  animation-duration: 15s;
}

@keyframes gradient {
  0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media (min-width: 992px) {
  .main-container {
    height: calc(100vh - 4rem);
    margin-top: 4rem;
    margin-left: 12rem;
    background-color: var(--hotale-color-background);
  }
}