
.bg-primary-soft {
  background-color: #e2e8f9;
}

.bg-green {
  background-color: rgb(49, 195, 159);
}

.bg-light-gray {
  background-color: rgb(247, 247, 247);
}

.bg-top-gray {
  background: linear-gradient(to bottom, rgb(247, 247, 247) 50%, rgb(241, 241, 241) 50%);
}

.bg-gray {
  background-color: rgb(241, 241, 241);
}

.bg-top-dark-blue {
  background: linear-gradient(to bottom, rgb(241, 241, 241) 60%, #1b2a4e 40%);
}

.bg-dark-blue {
  background-color: #1b2a4e;
}

.text-blue {
  color: #335EEA!important;
}

.text-soft-blue {
  color: #a3b4e4!important; 
}

.text-green {
  color: rgb(49, 195, 159);
}

.text-dark-blue {
  color: #1b2a4e;
}

.sub-topic {
  font-size: 20px;
}

.sub-text {
  font-size: 17px;
}

.div1 {
  width: 8rem;
  height: 3rem;
  background-color: gainsboro;
}

.list {
  list-style-type: none;
}

.download-a-sample-form input {
  width: 100%;
  padding: .5rem;
  border: none;
  outline: none;
  border-bottom: solid 1px #e2e8f9;
  margin-bottom: 1rem;
}

.btn-left {
  z-index: 1;
  left: -1rem;
  bottom: 9rem;
}

.btn-right {
  z-index: 1;
  right: -1rem;
  bottom: 9rem;
}

.custom-toggle {
  width: 2.75rem;
  border-radius: 1rem;
  padding: .25rem;
  margin: 0 1rem;
  background-color: #dee5fb;
  display: inline-block;
}

.round-div {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background-color: #fff;
}

.container {
  padding: 0 1.5rem!important;
}

/* ----- moblie ----- */
@media (min-width: 576px) {

}

/* ----- tablet ----- */
@media (min-width: 768px) {
  .text-div {
    width: 40rem;
  }

  .first.list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

/* ----- desktop ----- */
@media (min-width: 992px) {
  .container {
    padding: 0 10rem!important;
  }
  .form-card {
    width: 80%;
  }
}